<div class="messege">
    <p id="notice">
        <%= notice %>
    </p>
</div>

<p><span>Title: </span><%= @book.title %></p>
<P><span>Body: </span><%= @book.body %></P>

<div class="link">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= " ｜ " %>
    <%= link_to "Back", books_path %>
</div>